
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <label class="form-control">Email:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="UserName" name="UserName" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="form-control">Contraseña:</label>
            </div>
            <div class="col-md-6">
                <input type="password" id="Password" name="Password" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary">Ingresar</button>
            </div>
        </div>
    </div>
</section>